*{
    margin: 0;
    padding: 0;
}


.cabeca{
    height: 16vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.cabeca .logo{

    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37A8E9;

}
.cabeca .logo img{
    width: 80%;
}
.cabeca .links{

    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37A8E9;

}
.corpo{
    height: 85vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.corpo .sidebar{

    height: 100%;
    width: 20%;
    background-color: #37A8E9;


}
.corpo .dash{

    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


}
.dash .alertas{

    height: 30%;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.dash .alertas .alerta{

    height: 70%;
    width: 10%;
    border-radius: 1000px;
    background-color: yellow;

}
.dash .graficos{

    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;

}
.dash .graficos .grafico1, .dash .graficos .grafico2{

    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#grafico1, #grafico2{

    height: 70%;
    width: 70%;

}

