.container {
    width: 80%;
    margin: auto;
}

.header {
    color: #f5e3e3;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 0;
}

.header a {
    text-decoration: none;
    color: #f5e3e3;
    font-family: 'Montserrat', sans-serif;
}

.header b{
    font-family: 'Montserrat', sans-serif;
}
.header a:hover{
    color: #45a3e2;
    text-decoration: underline;

}

.agora {
    font-weight: 800;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-weight: 600;
    width: 900px;
    list-style: none;
    color: #221a96 ;
}

/* Banner */

.fundo2 .header {
    position: absolute;
    display: flex;
    bottom: 55%; 
}

.fundo2 {
    height: 500px;
    color: #f5e3e3;
    background-image: url("./Imagens/fundoCinza.jpg");
}
    

.fundo2 img{
    opacity: 0.7;
  }

.fundo2 .container {
    height: 500px;
    display: flex;
    align-items: center;
}
.fundo2 p {
    width: 480px;
    font-size: 35px;
    margin-left: 100px;
    font-family: 'League Spartan', sans-serif;
    flex-direction: column;
    display: flex;
}

.fundo2 b{
    color: #37a8e9;
    font-size: 50px;
}

.fundo2 span {
    font-weight: 800;
}
