body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdf7ec;
}

/* Header */
.container {
    width: 80%;
    margin: auto;
}

.header {
    color: #FFAA00;
    border-bottom: 3px solid #FFAA00;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color:#FFAA00;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: #FFAA00;
}

/* Banner */

.banner {
    height: 500px;
    color: #000000;
    background-image: url("./sptotembanner.jpg");
    background-size: cover;
}

.banner .container {
    height: 500px;
    display: flex;
    align-items: center;
}

.banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
    margin-left: 350px;
}

.banner b{
    color: #FFAA00;
}

.banner span {
    font-weight: 800;
}

/* Serviços */

.servicos {
    background-color: #fdfaf5;
    padding: 50px 0;
}

.servicos .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.servicos .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: #FFAA00;
    font-size:x-large;
}

.servicos .boxes {
    display: flex;
}

.servicos .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    padding: 50px;
}

.servicos .box img {
    width: 150px;
    align-self: center;
}

.servicos .box h4 {
    color: #000000;
    margin-top: 30px;
    font-size: x-large;
}

.servicos .box p {
color: #000000;
font-size: x-large;
}