
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.faq {
    height: 80vh;
    background-color: #94a9ee;
}

@media (max-width: 999px) {
    .faq {
        overflow-x: hidden;
    }
}

.faq_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 1000px;
    margin-left: 100px;
}

.faq h1{
    margin-left: 70px;
    font-size: 75px;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    padding: 20px;
    text-transform: uppercase;
}

summary{
    color: #ffffff;
    border-bottom: 1px solid #ffffff7a;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 9px;
}



