@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.servicos {
    height: 100vh;
    background-color: #e7e4e1;
    background-size: cover;
}

@media (max-width: 999px) {
    .servicos {
        overflow-x: hidden;
    }
}

.servicos h1 {
    text-align: center;
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    color: #3c7ee2;
}

.titulo_servicos {
    margin-top: 200px;
}

.servicos h2 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    padding: 5px;
    font-size: 25px;
    color: #3c7ee2;
}

.servicos p {
    padding: 10px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    width: 200px;
}

.icon_servicos {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.icon_servicos img {
    padding: 5px;
    border-radius: 100%;
    border: 1px solid #3f3f3f86;
}

.container_servicos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 170px;
}

.box_servicos_top {
    width: 180px;
    height: 150px;
    margin-left: 100px;
    padding: 10px;
}

.box_servicos_bottom {
    margin-top: 100px;
    width: 180px;
    height: 150px;
    margin-left: 100px;
}