@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.servicos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #e7e4e1;
    background-size: cover;
    
}

.servicos h1 {
    align-items: center;
    text-align: center;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    color: #3c7ee2;
} 

.servicos h2 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 25px;
    color: #3c7ee2;
    text-align: center;
}

.servicos p {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-top: 10px;
}

.icon_servicos {
    display: flex;
    justify-content: center;
} 
 
.icon_servicos img {
    border-radius: 100%;
    border: 1px solid #3f3f3f86;
} 

.container_servicos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 90px;
} 

.box_servicos_top {
    width: 20%;
}  

.box_servicos_bottom {
    margin-top: 100px;
    width: 20%;
} 