*{
    margin: 0;
    padding: 0;
}

.header{
    height: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.div_img{
    width: 20%;
    height: 100%;
}
.div_img img{
    width: 100%;
    height: 100%;
}
.options{
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37a8e9;
}
.nav_bar{
    display: flex;
    list-style: none;
}
.banner{
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: royalblue;
}
.footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF1F1;
    color: #767373;
}