*{
    margin: 0;
    padding: 0;
    
}
html{
    overflow: hidden;
}

.cabeca{
    height: 16vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.cabeca .logo{

    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273c5c;
   
    
    
}
.cabeca .logo a{
    align-self: center;
    justify-content: center;
}
.logo:hover{
    cursor: pointer;
}
.cabeca .logo img{
    width: 100%;
    align-self: center;
    justify-content: center;
}
.cabeca .links{

    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273c5c;;
    border-bottom: 3px solid white;
   

}
.cabeca h1{
    color: white;
    font-size: 50px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.corpo, .corpo2{
    height: 85vh;
    width: 100vw;
    background-color: #011222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.corpo .sidebar{

    height: 100%;
    width: 20%;
    background-color: #37a8e9;
    border-top: 3px solid white;
    border-right: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}
.corpo .sidebar .titulo_sidebar{

    width: 100%;
    height: 10%;
    background-color: #273c5c;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;
    

}

.titulo_sidebar p{

    font-size: 25px;
    color: white;
    border-radius: 5px;


}
.corpo .sidebar .corpo_sidebar{

    width: 100%;
    height: 90%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid white;

}

.corpo .sidebar .corpo_sidebar button{

    height: 10%;
    width: 75%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgb(46, 134, 23);
    font-size: 20px;
    color: white;
    border-radius: 10px;
   

}


.corpo_sidebar button:hover{

    cursor: pointer;
    border: 5px solid white;
  
    
}
.corpo .dash{

    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


}
.dash .alertas{

    height: 30%;
    width: 100%;
    background-color: #273c5c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid white;
    

}
.dash .alertas .alerta{

    height: 70%;
    width: 10%;
    border-radius: 1000px;
    background-color: #2e8617;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    

}
.dash .alertas .alerta:hover{

    cursor: pointer;
    border: 5px solid white;

}
.dash .alertas .alerta p{

    font-size: 50px;
    color: white;

}
.dash .graficos{

    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.dash .graficos .grafico1{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 3px solid white;

}
.grafico1 .titulo_grafico{

    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.grafico1 .titulo_grafico p{

    font-size: 25px;
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;

}
.grafico1 .canva1{
    
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#grafico1{

    height: 10%;
    width: 61.5%;
    margin-bottom: 25%;

}
#grafico2{

    height: 90%;
    width: 100%;
}
#pag2{
    display: none;
}


.corpo2 .sidebar2{

    height: 100%;
    width: 20%;
    background-color: #273c5c;
    border-top: 3px solid white;
    border-right: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.corpo2 .sidebar2 .corpo_sidebar2{

    width: 100%;
    height: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid white;

}
.corpo2 .sidebar2 .titulo_sidebar2{

    width: 100%;
    height: 10%;
    background-color: #273c5c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;

}
.corpo2 .sidebar2 .botao_voltar{

    width: 100%;
    height: 60%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 3px solid #ffffff;

}

.corpo2 .sidebar2 button a{

    height: 40%;
    width: 80%;
    background-color: #808080;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}
.corpo2 .sidebar2 button{

    height: 40%;
    width: 80%;
    background-color: #808080;
    font-size: 20px;
    color: #ffffff;
}
.corpo2 .sidebar2 button:hover{
    border: 3px #ffffff solid;
    cursor: pointer;
}

.titulo_sidebar2 p{

    font-size: 25px;
    color: #ffffff;
    


}
.corpo2 .infos{

    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


}
.corpo2 .infos .retangulo{

    height: 50%;
    width: 100%;
    background-color: #273c5c;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.corpo2 .infos .retangulo .box1{

    height: 100%;
    width: 50%;
    border: 3px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.corpo2 .infos .retangulo .box2{

    height: 100%;
    width: 50%;
    border: 3px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.corpo2 .infos .retangulo .box_img{

    height: 70%;
    width: 30%;
    border: 3px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.corpo2 .infos .retangulo .box_img{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.corpo2 .infos .retangulo .box_img .campo_img{

    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.corpo2 .infos .retangulo .box_img .suporte{

    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo2 .infos .retangulo .box_img .suporte button{

    height: 80%;
    width: 90%;
    background-color: #808080;
    font-size: 20px;
    color: #ffffff;

}

.corpo2 .infos .retangulo .box_txt{

    height: 100%;
    width: 70%;
    border: 3px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.box_txt .txt_titulo{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    border-bottom: 3px solid white;
}
.corpo_sidebar2 .alertas2{

    height: 30%;
    width: 100%;
    background-color: black;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
#alerta_atual{

    font-size: 50px;
    color: white;

}


